<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="OpenTK" version="3.0.1" targetFramework="net472" />
  <package id="OpenTK.GLControl" version="3.0.1" targetFramework="net472" />
  <package id="Syncfusion.Licensing" version="17.4.0.40" targetFramework="net472" />
  <package id="Syncfusion.SfChart.WPF" version="17.4.0.40" targetFramework="net472" />
  <package id="Syncfusion.Xamarin.Core" version="17.4.0.40" targetFramework="net472" />
  <package id="Syncfusion.Xamarin.Core.WPF" version="17.4.0.40" targetFramework="net472" />
  <package id="Syncfusion.Xamarin.SfChart" version="17.4.0.40" targetFramework="net472" />
  <package id="Syncfusion.Xamarin.SfChart.WPF" version="17.4.0.40" targetFramework="net472" />
  <package id="Xamarin.Forms" version="4.3.0.908675" targetFramework="net472" />
  <package id="Xamarin.Forms.Platform.WPF" version="4.3.0.908675" targetFramework="net472" />
</packages>